{% extends "MentOS_app/base.html" %}


{% block content %}
<!-- Suggested Connections -->
<div id="suggestedConnectionsDiv">
    <h3>Suggested Connections</h3> 
    <table>
        {% for i in suggested_connections %}
        <tr>
            <td>
                <a id="linkToOtherProfile" href="{% url 'view-other-profiles' i.user.username %}">
                    <img id='picIcon' src="{{i.profile_img.url }}" alt="User Icon">
                    <br>
                    {{i.user.username}}
                </a>
            </td>
            <td>
                Avg Rating: {{i.total_rating}} 
                <br>
                Number of Ratings: {{i.number_of_raters}}
                <br>
                {{i.bio}}
            </td>
            <td>
                <form method="post">
                    {% csrf_token %}
                        <button name="request_connection" value={{i}}>Request Connection</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <h3>There are no other users with the same interest as you</h3>
        {% endfor %}
    </table>
</div>
{% endblock content %}