{% extends "MentOS_app/base.html" %}

{% block style %}
<style>
    .content {
        margin: 20px;
        padding: 20px;
        text-align: left;
        background-color: #333;
        border-radius: 10px;
    }
    .content b {
        color:rgb(0, 169, 226);
    }
</style>
{% endblock style %}

{% block content %}
<div class="content">
    <h3><b><u>Tips for an overall successful mentorship</u></b></h3>
    <p>These are tips that can be shared at the same time with the mentor/mentee. If this is your first mentorship, we’d recommend you take a 
        look at the guide below - it might be a useful framework for your first meeting. If you have had many mentorship experiences in the past, 
        we’d still recommend you take a quick glance - there might be something new to discover!</p>
    <ul>
        <li><b>Make sure you agree on a common goal:</b> By simply asking and understanding what the other party’s goal is for the mentorship, you can better 
            serve them in their endeavours.
        </li>
        <li><b>Set expectations and boundaries:</b> Academic and professional life can be very stressful for some individuals. However mentors are not meant to serve 
            as mental health professionals, legal professionals, or parents. If at any time the mentorship is extending beyond what either party is comfortable with, 
            please forward concerns to a professional such as a doctor, lawyer, or the police.
        </li>
        <li><b>Evaluate your mentorship on a regular basis:</b> Sometimes a mentorship relationship might be one sided, where one party believes they are gaining value 
            quite a bit more than the other. Make sure both parties are going through an evaluation process on an agreed basis to evaluate and adjust based on honest feedback.
        </li>
        <li><b>Stay honest with each other:</b> If a mentoring relationship is going great, let each other know. On the contrary if a mentoring relationship could use some work, 
            it’s best to be upfront so both parties can take action appropriately to improve the relationship. Being in a bad mentoring relationship not only wastes someone’s 
            time, but could also negatively impact them, so being upfront and honest is crucial to a successful mentorship.
        </li>
    </ul>


    <h3><b><u>Tips for the first meeting</u></b></h3>
    <ul>
        <li><b>Agree on basic administrative things such as how frequently you want to talk, what communication mode is best, etc:</b> While this seems basic, establishing 
            these foundations allows both you and the mentee to start on the same page in regards to how the relationship will form.
        </li>
        <li><b>Let each other know things beyond what are listed in your profile (if comfortable):</b> While your MentOS bio will provide adequate initial information, on your 
            first encounter, you might want to break the ice by giving them a larger peek into your life and things you might be interested or are skilled in.
        </li>
        <li><b>Find a public or virtual area to meet:</b> Making sure both parties are comfortable for the first meeting is crucial, so we’d recommend meeting in a public area 
            or finding time to meet remotely, as one party might find this more comfortable.</li>
    </ul>


    <h3><b><u>Tips for the Mentor</u></b></h3>
    <ul>
        <li>Develop mutual trust and respect by maintaining confidentiality</li>
        <li>Listen both to what is being said and how it is being said</li>
        <li>Help the mentee solve their own problem, rather than give direction</li>
        <li>Focus on the mentee's development, and resist the urge to produce a clone</li>
        <li>Be innovative and creative - share your ideas, give advice and be a resource for new ideas</li>
    </ul>


    <h3><b><u>Tips for the Mentee</u></b></h3>
    <ul>
        <li><b>Be innovative and creative:</b> offer ideas on what activities and exercises you can do together. This can often lead to more open and fun ideas or more thought 
            provoking exercises that will push both parties.</li>
        <li><b>Come to each meeting with a prepared agenda:</b> you are much more likely to stay on task and optimize the time you have together if you have a prepared agenda. 
            However, make sure you stay consistent and set your expectations early. If your mentor says they will bring the agenda, let them.
        </li>
        <li><b>Recognize your mentor’s limitations:</b> Your mentor may be phenomenal, but they will have a limit to their knowledge and abilities. Don’t get frustrated 
            because they cannot help you but talk with them and work in areas where they can. If you need guidance beyond that which your mentor can give you, ask for 
            their recommendations to help you find others who have the necessary skills.
        </li>
    </ul>
</div>
{% endblock content %}